body{
  background-color: aliceblue;
}


.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg, rgb(3, 28, 98) 0%, rgb(248, 248, 248) 69%, rgb(49, 19, 158) 89%)!important;
}

.react-calendar {
 width: 100% !important;
 border: none;
 box-shadow: 1px 2px 5px 0px rgba(14, 15, 15, 0.15);

}

.react-datepicker-wrapper {
  width: 100%;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(19, 18, 18, 0.15);  
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(3, 28, 98) 0%,
          rgb(248, 248, 248) 69%,
          rgb(49, 19, 158) 89%
  ) !important;
  height: 100vh;
}



.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}